.order_item {
    display: flex;
	height: 20vh;
    width: 20vw;
    margin-right: 0vw;
    margin-bottom: 10vh;
    
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95vw;
    height: 90vh;
    overflow-y: scroll;
}

html {
	background-color: #ebe2cf;
}

.containers {
	display: flex;
	flex-direction: column;
	background-color: #ebe2cf;
	color: #ebe2cf;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

.pendingtexts {
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: black;
}
