* {
	box-sizing: border-box;
}

body {
	background-color: #ebe2c4; /* Moved from html */
	color: #ebe2c4;
	position: fixed;
	overflow-y: scroll;
}

.container {
	min-height: 94%;
	min-width: 100%;
	padding: 0px; /* Adjusted for internal spacing */
	background-color: #ebe2c4;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #ebe2c4; /* Moved from html */
	color: #ebe2c4;
	position: fixed;
	overflow-y: scroll;
}

.container {
	height: 70%;
	min-width: auto;
	padding: 10px; /* Adjusted for internal spacing */
	background-color: #ebe2c4;
}

table {
	width: 80%; /* Adjusted width */
	margin: 20px auto; /* Centered table */
	border: 2px solid;
}

th,
td {
	padding: 10px; /* Adjusted padding */
	text-align: left;
	background-color: #ebe2c4;
	border: 1px dotted;
}

.total {
	margin-top: 0;
	text-align: right;
}

.accept-button,
.reject-button {
	padding: 10px 14px;
	margin: 20px 40px 20px 10px; /* Adjusted margins */
	background-color: #99ff99; /* For accept */
}

.reject-button {
	background-color: #ff704d; /* For reject */
}

h3 {
	font-size: 30px; /* Added units */
}

.total {
	margin-top: 20px;
	text-align: right;
}

.accept-button,
.reject-button {
	padding: 10px 14px;
	margin: 20px 40px 20px 10px; /* Adjusted margins */
	background-color: #99ff99; /* For accept */
}

.reject-button {
	background-color: #ff704d; /* For reject */
}

h3 {
	font-size: 30px; /* Added units */
}

.munchpic {
	display: absolute;
	float: left;
}

.munchdiv {
	display:absolute;
	float: left;
}