body {
	margin: 0;
	height: 100vh;
}

section {
	display: flex;
	height: 100vh;
	max-width: 100vw;
}

section div {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: space-evenly;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
}

section div:hover {
	flex-grow: 2;
}

.left-half,
.right-half {
	z-index: 0;
	position: flex;
	width: 60vw;
	height: 100%;
	object-fit: contain;
}

section div button:hover {
	color: rgb(255, 35, 35);
	font-size: 74px;
	transition: all 0.25s ease-in-out;
}

section div button {
	font-size: 36px;
	font-family: "Inter";
	font-weight: 900;
	background-color: transparent;
	border-color: transparent;
	transition: all 0.25s ease-in-out;
}
