body {
	margin: 0;
	height: 100vh;
}

section {
	display: flex;
	height: 100vh;
	max-width: 100vw;
}

section div {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: space-evenly;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
}

section div:hover {
	flex-grow: 2;
}

.left-half,
.right-half {
	z-index: 0;
	position: flex;
	width: 60vw;
	height: 100%;
	object-fit: contain;
}

/*
div button {
	border: 2px solid white; Or any color that contrasts with the background 
	background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black 
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "Inter";
	font-weight: 700;
	cursor: pointer; /* To show it's clickable 
	transition: all 0.25s ease-in-out;
} 
*/

div button:hover {
	color: rgb(216, 14, 14);
	font-size: 74px;
	transition: all 0.25s ease-in-out;
}

/* div {
	filter: blur(5px);
} */

/* div:hover {
	filter: none;
	transition: all 0.25s ease-in-out;
} */

div button {
	font-size: 36px;
	font-family: "Inter";
	font-weight: 900;
	background-color: transparent;
	border-color: transparent;
	transition: all 0.25s ease-in-out;
}
