    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #e2ec4e;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    .container {
      max-width: 800px;
      height: 770px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 20px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .total {
      margin-top: 20px;
      text-align: right;
    }

    .progress-button {
      position: absolute;
      bottom: -130px; /* Adjust this value to set the distance from the bottom */
      left: 120px; /* Adjust this value to set the distance from the right */
      padding: 10px;
      background-color: #007bff; /* Example background color */
      color: #fff; /* Example text color */
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    h3 {
      font-size: 30;
      font-weight: bold;
      color: green;
    }