body.active-modal {
	overflow-y: hidden;
}

body {
	overflow-y: hidden;
}

.btn-modal {
	padding: 100px;
	display: block;
	margin: 50px auto 0;
	font-size: 18px;
	margin-top: 300px;
}

.modal,
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.whitespace-container {
	white-space: pre;
}

.overlay {
	background: rgba(49, 49, 49, 0.8);
}
.modal-content {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 14px 28px;
	border-radius: 3px;
	max-width: 600px;
	min-width: 300px;
}

.close-modal {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 10px 7px;
}

.close-modal2 {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 7px;
}

.button-grid {
	display: grid;
	grid-template-columns: repeat(
		3,
		1fr
	); /* Adjust the number of columns as needed */
	gap: 10px; /* Adjust the gap between buttons as needed */
	justify-content: center;
	align-items: center;
}
