.containers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.orderList {
	flex: auto;
	display: flex;
	flex-direction: column; /* Aligns children vertically */
	align-items: center; /* Centers children in the cross axis */
	justify-content: flex-start; /* Aligns children to the start in the main axis */
	margin: 2vw 1vh;
	background-color: antiquewhite;
	overflow: auto; /* Adds scroll if content overflows */
}

.button-grid button {
	padding: auto;
	background-color: #680000;
	color: #fff;
	padding: 20vh 2vw;
	border: transparent;
	border-radius: 1vw;
	z-index: 12;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
