<<<<<<< HEAD
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiJ-Ek-_EeA.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
		U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
=======
.split-layout, .driver-layout {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
  }

  .left-half,
  .right-half,
  .loginpopup {
    flex: 1; /* Equal width for both halves */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Set background color as needed */
    }
  
  .left-half {
    background-color: #e0e0e0; /* Set background color as needed */
  }

  .loginpopup button,
  .left-half button,
  .right-half button {
    padding: 10px;
    font-size: 16px;
  }
  
  .order-popup button {
    margin-top: 3%;
    margin-left: 3%;
    padding: 100px;
    font-size: 16px;
  }

  .grid-button {
    padding: 100px;
    display: inline-block;
    width: 100px; /* Set a fixed width for each button */
    height: 40px; /* Set a fixed height for each button */
    margin: 5px; /* Set margin between buttons */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Hover effect on the buttons */
  .grid-button:hover {
    background-color: #2980b9; /* Hover color */
  }

  .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 70;
    height: 100vh;
    background-color: rgba(0,0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-popup{
    position: relative;
    padding: 32px;
    width: 100%;
    background-color: #FFF;

}
>>>>>>> 1c7645bec55980eb5c8c2690f4a91a449c13fddd
