html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #570000;
}

.popup-inner h1 {
	margin-top: 10px;
	font-weight: 700;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	gap: 4vw;
	background-color: #570000;
	z-index: 2;
}

@media screen and (max-device-width: 800px) {
	.popup {
		flex-direction: column;
	}

	.popup-inner {
		width: 80%; /* Adjust width for mobile view */
		margin-bottom: 4vh; /* Add space between items */
	}

	.submit-button {
	}

	.button-grid {
		gap: 5vw; /* Adjust gap for mobile view */
	}
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

.submit-button {
	display: flex;
	position: absolute;
	width: 20%;
	height: 10%;
	bottom: 0%;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 10vh;
}

.subbutton,
.closebutton {
	display: flex;
	flex: 1;
	gap: 5vw;
	justify-content: center;
}

.popup-inner {
	flex: 1;
	position: relative;
	width: 25vw;
	height: 75vh;
	align-items: center;
	justify-content: center;
	background-color: #680000;
	border-radius: 2.5vw;
	color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-inner h1 {
	margin-top: 5vh;
	font-weight: 700;
}

.popup-inner ul {
	margin-top: 5vh;
}

.popup-inner p {
	margin-top: 5vh;
}

.popup-inner .select-dropdown {
	margin-top: 5vh;
}

.select-dropdown {
	padding: 8px 12px;
	border: 2px solid maroon;
	background-color: white;
	color: maroon;
	border-radius: 10px;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg fill="maroon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 12px;
}

.select-dropdown:focus {
	outline: none;
	box-shadow: 0 0 5px maroon;
}

.button-grid {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	position: relative;
	flex-direction: row;
	gap: 28vw;
	margin-left: 2.85vw;
	width: 100%;
	top: 5vh;
}

.button-grid button {
	background-color: #680000;
	color: #fff;
	padding: 2vh 2vw;
	border: transparent;
	border-radius: 1vw;
	z-index: 12;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-grid button:hover {
	background-color: #390000;
	transition: all 0.3s ease-in-out;
}

.woo,
.frank,
.hamp,
.berk {
	text-align: center;
	align-items: center;
	display: flex;
}
